 body {
   font-family: "Andale Mono", AndaleMono, monospace;
   width: 700px;
   margin: 10px auto;
 }

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background: linear-gradient(yellow, green);
    color: yellow;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: 10px ridge greenyellow;
    margin-bottom: 21px;    
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background: linear-gradient(red, blue);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align: center;
    
}

img {
  width: 45%;
  margin-top: 20px;
  border-radius: 10;
}
